input {
  display: flex;
  text-align: right;
  width: 95.7vw;
  height: 10vh;
}

body {
  padding: 5px solid black;
  height: 75vh;
  background-color: rgba(240, 240, 240, 255);
}

button {
  flex: 1 1 33.333%;
  height: 20vh;
}

.number {
  background-color: white;
}

.effect {
  background-color: rgba(255, 204, 0, 255);
}

.buttons {
  display: flex;
  /*This adjusts horizontally*/
  justify-content: center;
  /*This adjusts the vertical*/
  align-items: center;
  flex-wrap: wrap;
}
